/* 
@plugin "daisyui/theme" {
  name: "nord";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(93% 0.034 272.788);
  --color-base-200: oklch(87% 0.065 274.039);
  --color-base-300: oklch(78% 0.115 274.713);
  --color-base-content: oklch(25% 0.09 281.288);
  --color-primary: oklch(67% 0.182 276.935);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(68% 0.169 237.323);
  --color-secondary-content: oklch(97% 0.013 236.62);
  --color-accent: oklch(55% 0 0);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(42% 0.199 265.638);
  --color-neutral-content: oklch(97% 0.014 254.604);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.1875rem;
  --size-field: 0.1875rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
} */


@plugin "daisyui/theme" {
  name: "nord";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(100% 0 0);
  --color-base-300: oklch(78% 0.115 274.713);
  --color-base-content: oklch(25% 0.09 281.288);
  --color-primary: oklch(96% 0.018 272.314);
  --color-primary-content: oklch(39% 0.195 277.366);
  --color-secondary: oklch(68% 0.169 237.323);
  --color-secondary-content: oklch(97% 0.013 236.62);
  --color-accent: oklch(55% 0 0);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(42% 0.199 265.638);
  --color-neutral-content: oklch(97% 0.014 254.604);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(58% 0.253 17.585);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.1875rem;
  --size-field: 0.1875rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}
